# https://github.com/github-linguist/linguist/blob/main/docs/overrides.md

###################
#####  PANTS  #####
###################
# Ensure diffs and language attribution of Pantsbuild files is Python instead of Starlark
*BUILD text diff=python linguist-language=python
BUILD text diff=python linguist-language=python
*lockfile.json linguist-generated
*lockfile.json.metadata linguist-generated
